body {
  font-family: "Outfit", sans-serif;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 16px;
    padding-bottom: 40px;
    padding-top: 16px;
    max-width: 320px;
    box-sizing: border-box;
    gap: 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 25px 25px rgba(0,0,0,0.05);
}

body {
    background: #D5E1EF;
    margin: 0;

}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.qr-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.customFig {
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}

figure, h1, p {
    margin: 0;
}

.titletext {
    color: #1F314F;
    height: auto;
    padding-bottom: 16px;
    font-family: outfit; 
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
}

.bodytext {
   color: #68778D;
   height: auto;
   font-family: outfit;
   font-weight: 400;
   font-size: 15px;
   line-height: 140%;
   text-align: center;
   letter-spacing: 0.2px;
}